html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menubar, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menubar, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*2nd*/
.hide {
    display: none;
}

.my-3 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.full-width-input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    font-size: 1em;
    resize: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 1.2em;
    color: #aaa;
    background-color: #f9f9f9;
    text-align: center;
}

.btn-inline {
    display: inline-block;
    width: auto;
}

.btn-primary {
    background-color: olive;
    color: white;
}

.cursor {
    cursor: cursor !important;
}

.cursor:hover {
    opacity: 0.7;
}

.cursor:active {
    outline: none;
}

/*3rd*/
* {
    box-sizing: border-box;
}

body {
    /* padding-top: 30px; */
    /* margin: 20px 0; */
    background-image: url( "https://images.unsplash.com/photo-1518803194621-27188ba362c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHJhaW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" );
    background-size: cover;
    background-attachment: fixed;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 8px 20px;
    background-color: rgba( 64, 144, 172, 0.65 );
    color: white;
}

.navigation .cursor:hover {
    opacity: 0.75;
}

.navigation > * {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation .menubar > *, .navigation .actions > * {
    display: inline-block;
    padding: 8px;
    border-radius: 2px;
    margin: 0px 4px;
    background-color: rgba( 64, 144, 172, 1 );
}

.navigation .menubar {
    justify-content: flex-start;
}

.navigation .menuinput {
    background-color: transparent;
    padding: 0;
}

.navigation .menuinput input {
    width: 120px;
    padding: 4px 0.5em;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: rgba( 64, 144, 172, 1 );
    color: white;
    font-size: 1.15em;
    line-height: 1.4;
    color: black;
}

.navigation .menuinput input:focus {
    background-color: white;
}

.navigation .apptitle {
    justify-content: space-around;
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    font-size: 1.3em;
}

.navigation .actions {
    justify-content: flex-end;
}

.containerboard {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

.board-menubar {
    position: fixed;
    top: 50px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    color: black;
    background-color: rgba( 128, 128, 128, 0.3 );
    color: white;
}
/*4*/

* {
    box-sizing: border-box;
}

body {
    font-family: Segoe UI, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #555;
    margin-bottom: 0;
    overflow-x: hidden;
}

.board {
    display: flex;
    flex-basis: 100%;
}

.task-lists {
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    flex-shrink: 0;
    overflow: auto;
    margin-top: 20px;
}

.add-task-list-wrapper {
    flex-shrink: 0;
}

.task-lists-wrapper {
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding: 84px 20px 20px;
}

.task-list-wrapper {
    flex-shrink: 0;
    flex-basis: 240px;
    max-height: 100%;
    overflow: visible;
}

.task-list, .add-list {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: rgba( 240, 240, 240, 0.9 );
}

.task-list-title-container {
    display: flex;
    justify-content: space-between;
}

.task-list-title {
    margin: 4px;
    font-weight: bold;
}

.task-list-more {
    margin: 0 4px;
}

.task {
    padding: 10px;
    margin: 10px 0;
    background-color: white;
}

.task .edit {
    float: right;
    display: none;
}

.task:hover .edit {
    display: inline;
}

.add-card-message, .add-list-message {
    margin-bottom: 4px 0 8px;
}

.task-list .task, .task-list input, .task-list textarea, .task-list button {
    border-radius: 4px;
}

input, textarea {
    border: none;
    outline: none;
}

.edit-form-actions, .add-card-form-actions, .add-list-form-actions {
    margin: 10px 0;
}

.edit-button, .add-card-button, .add-list-button {
    margin-right: 8px;
}

.edit-cancel, .add-card-cancel, .add-list-cancel {
    position: relative;
    top: 4px;
}